@font-face {
    font-family: "Source Code Pro", monospace;
    src: local("Source Code Pro"), url("SourceCodePro-Regular.ttf");
}

* {
    box-sizing: border-box;
}

div {
    display: flex;
    flex-direction: column;
    width: min-content;
}

.row-flex {
    display: flex;
    flex-direction: row;
    width: min-content;
    align-items: center;
}

html {
    --background: #24283b;
    --foreground: #a9b1d6;
    --text: #a9b1d6;
    --terminal-black: #414868;
    --terminal-yellow: #e0af68;
    --aoc-green: #00cc00;
    --aoc-green-shadow: 0 0 2px var(--aoc-green), 0 0 5px var(--aoc-green);
    --aoc-star: #ffff66;
    --aoc-star-shadow: 0 0 5px var(--aoc-star)
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    background: var(--background);
    color: var(--text);
    box-sizing: border-box;
}

header {
    color: var(--aoc-green);
    text-shadow: var(--aoc-green-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: var(--terminal-black);
    justify-content: space-between;
}

footer {
    padding-top: 10px;
    display: flex;
    border-top: solid;
    border-width: 1px;
    border-color: var(--terminal-black);
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    padding: 10px;
}

#input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#input {
    background: var(--background);
    width: 768px;
    height: 512px;
    color: var(--text);
    border-color: var(--terminal-black);
    border-width: 2px;
    padding: 5px;
    resize: none;
    white-space: pre;
    box-sizing: border-box;
    border-style: solid;
    font-family: "Source Code Pro", monospace;
}

#input:focus {
    outline: none;
}

#part-1, #part-2 {
    background: var(--background);
    border-color: var(--terminal-black);
    height: 40px;
    width: 128px;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
    font-size: 12pt;
    color: var(--aoc-star);
    text-shadow: var(--aoc-star-shadow);
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace;
}

label {
    font-family: "Source Code Pro", monospace;
}

#solve, #day, button {
    color: var(--text);
    background: var(--background);
    height: 40px;
    padding: 0 11px 0 11px;
    border-color: var(--terminal-black);
    align-items: center;
    font-size: 13pt;
    font-weight: bold;
    font-family: "Source Code Pro", monospace;
    white-space: pre;
}

#solve {
    color: var(--aoc-star);
    text-shadow: var(--aoc-star-shadow);
}

#day {
    color: var(--aoc-star);
    text-shadow: var(--aoc-star-shadow);
    appearance: none;
    width: min-content;
    font-family: "Source Code Pro", monospace;
    position: relative;
    text-align: center;
    padding: 0;
    border-style: dotted;
    height: min-content;
    cursor: pointer;
}


#output-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#output-left > label {
    margin: auto;
}

#output-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.output-header-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#lower-right {
    display: flex;
}

#day-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#solver-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border-style: solid;
    border-color: var(--terminal-black);
    border-width: 2px;
    gap: 10px;
    width: min-content;
}

h1 a {
    text-decoration: none;
    color: var(--aoc-green);
    text-shadow: var(--aoc-green-shadow);
    white-space: pre;
}

#header-bottom {
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}
